.characters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 0px;
}

.cutaways:hover {
  box-shadow: 4px 4px 10px 0px rgba(161, 161, 153, 1);
  cursor: pointer;
}

.content__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  width: 1170px;
  margin-left: 260px;
}

.cutaways:hover {
  box-shadow: 4px 4px 10px 0px rgba(161, 161, 153, 1);
  cursor: pointer;
}

.btn__favorites {
  width: 190px;
  height: 41px;
  border-radius: 5px;
  border: 1px solid rgba(161, 161, 161, 0.6);
  background: #f00;
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  z-index: 1000;
}

.cutaways__name h3 {
  color: #000;
}
